pom.xml
pom.xml.asc
*jar
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port

target/
.idea/
resources/public/js/
*.iml
figwheel_server.log
node_modules/
